:host{
    display: flex;
    flex-direction: column;
    max-width: 700px;
 align-items:start;      
  }
  button{
    display: inline-flex;           // Adapte la largeur au contenu du texte
    padding: 8px;                   // Padding autour du texte
    background-color: #04838f;      // Couleur de fond du bouton
    color: #ffffff;                 // Couleur du texte
    border: none;                   // Retire la bordure par défaut
    border-radius: 4px;             // Coins arrondis pour un style plus moderne
    cursor: pointer;                // Curseur de la souris en forme de main
    font-size: 1rem;                // Taille de la police
    text-align: center;  
}
