.container {
    display: inline-flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;  
         padding: 8px;        
    border-radius: 8px;     
    border:#04838f solid 2px;
    margin: 1rem;
    p {
        
     
      font-size: 1.2rem;         // Taille de la police
    }
}
.container span:first-child{
  color:darkgrey
}
.container span:last-child{
 font-weight: bold;
}