/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.charts{
    display: block;
    width:100%;
    height: 100%;
    @media (max-width: 768px) {
        width: 300px;
      }
}
.textblocks{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
}